<!--<div class="absolute"> I'm a div for testing</div>-->

<!--<div class="relative"> I'm another div for testing</div>-->

<!--<div class="box2">-->
<!--  我是一个inline box-->
<!--</div>-->
<!--<div class="box2">-->
<!--  我是一个inline box-->
<!--</div>-->
<!--<div class="box2">-->
<!--  我是一个inline box-->
<!--</div>-->
<!--<div class="box2">-->
<!--  我是一个inline box-->
<!--</div>-->
<!--<div class="box2">-->
<!--  我是一个inline box-->
<!--</div>-->
<!--<div class="box2">-->
<!--  我是一个inline box-->
<!--</div>-->
<!--<div class="box2">-->
<!--  我是一个inline box-->
<!--</div>-->
<!--<div class="box2">-->
<!--  我是一个inline box-->
<!--</div>-->
<!--<div class="box2">-->
<!--  我是一个inline box-->
<!--</div>-->
<!--<div class="box2">-->
<!--  我是一个inline box-->
<!--</div>-->

<!--bootstrap-->
<!--<div class="row">-->
<!--  <div class="col-sm-8" style="border: 10px green solid;">-->
<!--    col-sm-8-->
<!--  </div>-->
<!--  <div class="col-sm-4" style="border: 10px green solid;">-->
<!--    col-sm-4-->
<!--  </div>-->
<!--</div>-->

<!--<div class="row">-->
<!--  <div class="col-sm" style="border: 10px green solid;">-->
<!--    col-sm-->
<!--  </div>-->
<!--  <div class="col-sm" style="border: 10px green solid;">-->
<!--    col-sm-->
<!--  </div>-->
<!--  <div class="col-sm" style="border: 10px green solid;">-->
<!--    col-sm-->
<!--  </div>-->
<!--  <div class="col-sm" style="border: 10px green solid;">-->
<!--    col-sm-->
<!--  </div>-->
<!--</div>-->


<!--<div class="row">-->
<!--  <div class="offset-3">-->
<!--  </div>-->
<!--  <div class="col-sm-6" style="border: 10px green solid;">-->
<!--    col-sm-->
<!--  </div>-->
<!--</div>-->
<div style="width: 600px">
  <div class="flex1">
    <div class="box1">
      我是一个盒子
    </div>
    <div class="box1">
      我是一个盒子
    </div>
    <div class="box1">
      我是一个盒子
    </div>
    <div class="box1">
      我是一个盒子
    </div>
    <div class="box1">
      我是一个盒子
    </div>
    <div class="box1">
      我是一个盒子
    </div>
    <div class="box1">
      我是一个盒子
    </div>
  </div>
</div>

<div style="width: 600px">
  <div class="flex1">
    <div class="box1">
      我是一个盒子
    </div>
    <div class="box1">
      我是一个盒子
    </div>
    <div class="box1">
      我是一个盒子
    </div>
    <div class="box1">
      我是一个盒子
    </div>
    <div class="box1">
      我是一个盒子
    </div>
    <div class="box1">
      我是一个盒子
    </div>
    <div class="box1">
      我是一个盒子
    </div>
  </div>
</div>
